// ObjectWindows - (C) Copyright 1992 by Borland International

#include "windows.h"
#include "dctltest.h"

COMMANDS MENU
BEGIN
  MENUITEM "&Test", CM_TEST
END

TESTDIALOG DIALOG DISCARDABLE LOADONCALL PURE MOVEABLE 46, 49, 141, 57
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "Dialog With Drawable Buttons"
BEGIN
  CONTROL "&OK" IDOK, "BUTTON", WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP | BS_DEFPUSHBUTTON, 57, 38, 29, 11
  CONTROL "" ID_BUTTON1, "BUTTON", WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | WS_BORDER | WS_GROUP | WS_TABSTOP | BS_OWNERDRAW, 16, 10, 49, 16
  CONTROL "" ID_BUTTON2, "BUTTON", WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | WS_BORDER | WS_GROUP | WS_TABSTOP | BS_OWNERDRAW, 80, 10, 49, 16
END
