// ObjectWindows - (C) Copyright 1992 by Borland International

#include "windows.h"
#include "dialtest.h"

COMMANDS MENU LOADONCALL MOVEABLE PURE DISCARDABLE
BEGIN
  MENUITEM "&Test", CM_TEST
END

TESTDIALOG DIALOG DISCARDABLE LOADONCALL PURE MOVEABLE 30, 49, 188, 100
STYLE WS_POPUP | WS_DLGFRAME
BEGIN
  CONTROL "&Fill List Box" ID_BUTTON, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 111, 13, 68, 12
  CONTROL "&Cancel" IDCANCEL, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 112, 66, 68, 12
  CONTROL "LISTBOX" ID_LISTBOX, "LISTBOX", WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | 0x3L, 8, 8, 83, 73
END
