// ObjectWindows - (C) Copyright 1992 by Borland International

#include "windows.h"
#include "notitest.h"

COMMANDS MENU LOADONCALL MOVEABLE PURE DISCARDABLE
BEGIN
  MenuItem  "&Test", CM_TEST
END

TESTDIALOG DIALOG DISCARDABLE LOADONCALL PURE MOVEABLE 53, 68, 119, 64
STYLE WS_POPUP | WS_CAPTION
CAPTION "Notification Tester"
BEGIN
  CONTROL "&Beep" ID_BUTTON, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 46, 40, 12
  CONTROL "&Cancel" IDCANCEL, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 72, 46, 40, 12
  CONTROL "0" ID_STATIC, "STATIC", WS_CHILD | WS_VISIBLE | 0x1L, 53, 15, 19, 11
END
