// ObjectWindows - (C) Copyright 1992 by Borland International

#include "windows.h"
#include "trantest.h"

 ID_MENU MENU LOADONCALL MOVEABLE PURE DISCARDABLE
 BEGIN
   MenuItem  "&Test!", CM_TEST
 END

 ID_DIALOG DIALOG DISCARDABLE LOADONCALL PURE MOVEABLE 10, 35, 241, 123
 STYLE WS_POPUP | WS_CLIPSIBLINGS | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
 CAPTION "Mailing Label"
 BEGIN
   CONTROL "&Name:" 111, "STATIC", WS_CHILD | WS_VISIBLE | SS_RIGHT, 1, 20, 40, 8
   CONTROL "" ID_NAMEEDIT, "EDIT", WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 42,
18, 109, 12
   CONTROL "&Title" 105, "BUTTON", WS_CHILD | WS_VISIBLE | WS_GROUP | BS_GROUPBOX, 155, 4, 80, 26
   CONTROL "Mr." ID_MRBUTTON, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_AUTORADIOBUTTON, 159, 17, 20, 10
   CONTROL "Ms." ID_MSBUTTON, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_AUTORADIOBUTTON, 183, 17, 21, 10
   CONTROL "Dr." ID_DRBUTTON, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_AUTORADIOBUTTON, 209, 17, 20, 10
   CONTROL "Address&1:" 112, "STATIC", WS_CHILD | WS_VISIBLE | WS_GROUP | SS_RIGHT,
1, 36, 40, 8
   CONTROL "" ID_ADDR1EDIT, "EDIT", WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 42,
34, 193, 12
   CONTROL "Address&2:" 113, "STATIC", WS_CHILD | WS_VISIBLE | SS_RIGHT, 1, 52, 40, 8
   CONTROL "" ID_ADDR2EDIT, "EDIT", WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 42,
50, 193, 12
   CONTROL "City, &State:" 114, "STATIC", WS_CHILD | WS_VISIBLE | SS_RIGHT, 1, 68,
40, 8
   CONTROL "" ID_CITYSTEDIT, "EDIT", WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 42,
66, 112, 12
   CONTROL "Count&ry:" 115, "STATIC", WS_CHILD | WS_VISIBLE | SS_RIGHT, 1, 84, 40, 8
   CONTROL "" ID_COUNTRYEDIT, "EDIT", WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 42,
82, 112, 12
   CONTROL "&OK" IDOK, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_DEFPUSHBUTTON, 64, 103, 40, 14
   CONTROL "&Cancel" IDCANCEL, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 148, 103,
40, 14
 END
