// ObjectWindows - (C) Copyright 1992 by Borland International

#include "windows.h"
#define CM_EMPINPUT 201
#define ID_NAMEEDIT 101
#define ID_SSEDIT 105
#define ID_IDEDIT 107

200 MENU
BEGIN
  POPUP "&Input"
     BEGIN
	MENUITEM "&Employee", CM_EMPINPUT
     END
END

EMPLOYEEINFO DIALOG LOADONCALL MOVEABLE DISCARDABLE 62, 33, 176, 97
STYLE WS_CAPTION | WS_SYSMENU | DS_MODALFRAME | WS_POPUP
BEGIN
    CONTROL "&Name", 100, "static", SS_RIGHT | WS_CHILD, 7, 11, 29, 12
    CONTROL "", ID_NAMEEDIT , "edit", ES_LEFT | WS_BORDER | WS_TABSTOP | WS_CHILD, 44, 8, 127, 15
    CONTROL "&SS#", 104, "static", SS_RIGHT | WS_CHILD, 15, 34, 21, 11
    CONTROL "", ID_SSEDIT , "edit", ES_LEFT | WS_BORDER | WS_TABSTOP | WS_CHILD, 44, 34, 45, 14
    CONTROL "&Emp. ID", 106, "static", SS_RIGHT | WS_CHILD, 5, 58, 32, 9
    CONTROL "", ID_IDEDIT , "edit", ES_LEFT | WS_BORDER | WS_TABSTOP | WS_CHILD, 44, 56, 26, 12
    CONTROL "&OK", IDOK, "button", BS_DEFPUSHBUTTON | WS_TABSTOP | WS_CHILD, 55, 80, 24, 14
    CONTROL "&Cancel", IDCANCEL, "button", BS_PUSHBUTTON | WS_TABSTOP | WS_CHILD, 100, 80, 27, 14
END

