// ObjectWindows - (C) Copyright 1992 by Borland International

#include <windows.h>
#include "cursor.h"

CursorDlg ICON Cursor.ico

CursorDlg DIALOG -1, 33, 172, 112
STYLE WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CLASS "CursorDlg"
CAPTION "Cursor"
FONT 8, "System"
BEGIN
	CONTROL "Screen:", -1, "STATIC", WS_CHILD | WS_VISIBLE, 4, 5, 28, 12
	CONTROL "X:", -1, "STATIC", WS_CHILD | WS_VISIBLE, 37, 5, 8, 12
	CONTROL "0", IDD_SX, "STATIC", WS_CHILD | WS_VISIBLE, 46, 5, 25, 12
	CONTROL "Y:", -1, "STATIC", WS_CHILD | WS_VISIBLE, 72, 5, 8, 12
	CONTROL "0", IDD_SY, "STATIC", WS_CHILD | WS_VISIBLE, 82, 5, 25, 12
	CONTROL "Window:", -1, "STATIC", WS_CHILD | WS_VISIBLE, 4, 18, 28, 12
	CONTROL "X:", -1, "STATIC", WS_CHILD | WS_VISIBLE, 37, 18, 8, 12
	CONTROL "Y:", -1, "STATIC", WS_CHILD | WS_VISIBLE, 72, 18, 8, 12
	CONTROL "0", IDD_WX, "STATIC", WS_CHILD | WS_VISIBLE, 46, 18, 25, 12
	CONTROL "0", IDD_WY, "STATIC", WS_CHILD | WS_VISIBLE, 82, 18, 25, 12
	CONTROL "HWND:", -1, "STATIC", WS_CHILD | WS_VISIBLE, 110, 18, 24, 12
	CONTROL "0", IDD_HW, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 135, 18, 24, 12
	CONTROL "Parent:", -1, "STATIC", WS_CHILD | WS_VISIBLE, 4, 31, 28, 12
	CONTROL "X:", -1, "STATIC", WS_CHILD | WS_VISIBLE | 0x2L, 37, 31, 8, 12
	CONTROL "Y:", -1, "STATIC", WS_CHILD | WS_VISIBLE | 0x2L, 72, 31, 8, 12
	CONTROL "0", IDD_PX, "STATIC", WS_CHILD | WS_VISIBLE, 46, 31, 25, 12
	CONTROL "0", IDD_PY, "STATIC", WS_CHILD | WS_VISIBLE, 82, 31, 25, 12
	CONTROL "HWND:", -1, "STATIC", WS_CHILD | WS_VISIBLE, 110, 31, 24, 12
	CONTROL "0", IDD_HP, "STATIC", WS_CHILD | WS_VISIBLE, 135, 31, 24, 12
	CONTROL "Focus Window:", -1, "STATIC", WS_CHILD | WS_VISIBLE, 4, 57, 52, 12
	CONTROL "HWND:", -1, "STATIC", WS_CHILD | WS_VISIBLE, 110, 57, 24, 12
	CONTROL "0", IDD_HF, "STATIC", WS_CHILD | WS_VISIBLE, 135, 57, 24, 12
	CONTROL "Left:", -1, "STATIC", WS_CHILD | WS_VISIBLE | 0x2L, 25, 70, 20, 12
	CONTROL "0", IDD_LEFT, "STATIC", WS_CHILD | WS_VISIBLE, 46, 70, 25, 12
	CONTROL "Top:", -1, "STATIC", WS_CHILD | WS_VISIBLE | 0x2L, 76, 70, 25, 12
	CONTROL "0", IDD_TOP, "STATIC", WS_CHILD | WS_VISIBLE, 102, 70, 25, 12
	CONTROL "Right:", -1, "STATIC", WS_CHILD | WS_VISIBLE | 0x2L, 21, 83, 24, 12
	CONTROL "0", IDD_RIGHT, "STATIC", WS_CHILD | WS_VISIBLE, 46, 83, 25, 12
	CONTROL "Bottom:", -1, "STATIC", WS_CHILD | WS_VISIBLE | 0x2L, 73, 83, 28, 12
	CONTROL "0", IDD_BOTTOM, "STATIC", WS_CHILD | WS_VISIBLE, 102, 83, 25, 12
END
