// ObjectWindows - (C) Copyright 1992 by Borland International

#include <windows.h>
#include "sysinfo.h"

SysInfo DIALOG DISCARDABLE LOADONCALL PURE MOVEABLE 10, 35, 169, 133
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "Windows System Information"
BEGIN
  CONTROL "Number Of Instances" -1, "STATIC", WS_CHILD | WS_VISIBLE, 6, 5, 74, 14
  CONTROL "Window's Version" -1, "STATIC", WS_CHILD | WS_VISIBLE, 6, 19, 74, 14
  CONTROL "Mode Of Operation" -1, "STATIC", WS_CHILD | WS_VISIBLE, 6, 33, 74, 14
  CONTROL "CPU Type" -1, "STATIC", WS_CHILD | WS_VISIBLE, 6, 47, 74, 14
  CONTROL "Coprocessor Present" -1, "STATIC", WS_CHILD | WS_VISIBLE, 6, 61, 74, 14
  CONTROL "Free Global Memory" -1, "STATIC", WS_CHILD | WS_VISIBLE, 6, 75, 74, 14
  CONTROL "Dos Version" -1, "STATIC", WS_CHILD | WS_VISIBLE, 6, 89, 74, 14
  CONTROL "OK" IDOK, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 46, 115, 78, 12
  CONTROL "" ID_INSTANCENUMBER, "STATIC", WS_CHILD | WS_VISIBLE, 89, 5, 74, 14
  CONTROL "" ID_WINDOWSVERSION, "STATIC", WS_CHILD | WS_VISIBLE, 89, 19, 74, 14
  CONTROL "" ID_OPERATIONMODE, "STATIC", WS_CHILD | WS_VISIBLE, 89, 33, 74, 14
  CONTROL "" ID_CPUTYPE, "STATIC", WS_CHILD | WS_VISIBLE, 89, 47, 74, 14
  CONTROL "" ID_COPROCESSOR, "STATIC", WS_CHILD | WS_VISIBLE, 89, 61, 74, 14
  CONTROL "" ID_GLOBAL, "STATIC", WS_CHILD | WS_VISIBLE, 89, 75, 74, 14
  CONTROL "" ID_VERSIONDOS, "STATIC", WS_CHILD | WS_VISIBLE, 89, 89, 74, 14
END

STRINGTABLE LOADONCALL MOVEABLE PURE DISCARDABLE
BEGIN
  0,	"Enhanced"
  1,	"Standard"
  2,	"Real"
  3,	"8086"
  4,	"80186"
  5,	"80286"
  6,	"80386"
  7,	"80486"
  8,	"Yes"
  9,	"No"
  10,	"Unknown"
END
