// ObjectWindows - (C) Copyright 1992 by Borland International

#include <windows.h>
#include "owlrc.h"
#include "progtalk.h"

#include "inputdia.dlg"

ProgTalk DIALOG DISCARDABLE LOADONCALL PURE MOVEABLE 100, 50, 170, 104
CLASS "DDEClient"
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_GROUP
CAPTION "DDE Link to Program Manager"
BEGIN
  CONTROL "&Add item" ID_ADDITEM, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_DEFPUSHBUTTON, 100, 16, 60, 12
  CONTROL "&Delete item" ID_DELETEITEM, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 100, 32, 60, 12
  CONTROL "C&lear items" ID_CLEARITEMS, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 100, 48, 60, 12
  CONTROL "&Create group" ID_CREATEGROUP, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 100, 84, 60, 12
  CONTROL "LISTBOX" ID_LISTBOX, "LISTBOX", WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP | LBS_NOTIFY | LBS_SORT, 8, 16, 80, 80
  CONTROL "&Program group items" -1, "STATIC", WS_CHILD | WS_VISIBLE, 8, 6, 80, 8
END

ID_ADDDIALOG DIALOG DISCARDABLE LOADONCALL PURE MOVEABLE 6, 16, 154, 48
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | 0x80L
CAPTION "Add item"
BEGIN
  CONTROL "Item &name" -1, "STATIC", WS_CHILD | WS_VISIBLE, 8, 8, 36, 8
  CONTROL "" 100, "EDIT", WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP | 0x80L, 48, 6, 96, 12
  CONTROL "&Add" 1, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x1L, 34, 26, 42, 12
  CONTROL "Cancel" 2, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 83, 26, 42, 12
END


ID_CREATEDIALOG DIALOG DISCARDABLE LOADONCALL PURE MOVEABLE 6, 16, 154, 48
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | 0x80L
CAPTION "Create group"
BEGIN
  CONTROL "Group &name" -1, "STATIC", WS_CHILD | WS_VISIBLE, 8, 8, 40, 8
  CONTROL "" 100, "EDIT", WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP | 0x80L, 52, 6, 92, 12
  CONTROL "&Create" 1, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x1L, 34, 26, 42, 12
  CONTROL "Cancel" 2, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 83, 26, 42, 12
END
