// ObjectWindows - (C) Copyright 1992 by Borland International

#include <windows.h>
#include "ids.h"

ID_MENU MENU
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&Print", CM_FILEPRINT
		MENUITEM "P&rinter setup...", CM_FILEPRINTERSETUP
		MENUITEM SEPARATOR
		MENUITEM "E&xit", CM_FILEEXIT
	END
END

AbortDialog DIALOG 84, 51, 143, 64
CAPTION "Print"
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
BEGIN
	CONTROL "Cancel", 2, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 52, 44, 35, 17
	CONTROL "Printing", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 4, 144, 8
	CONTROL "%s", 101, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 12, 144, 8
	CONTROL "on the %s Printer", 102, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 20, 144, 8
	CONTROL "connected to %s", 103, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 28, 144, 8
END
PrinterSetup DIALOG 18, 18, 148, 58
CAPTION "Select Printer"
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
BEGIN
	CONTROL "", 100, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 4, 16, 140, 40
	CONTROL "OK", 1, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 18, 36, 32, 16
	CONTROL "&Setup", 101, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 58, 36, 32, 16
	CONTROL "Cancel", 2, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 98, 36, 32, 16
	CONTROL "&Printer and port", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 4, 140, 12
END
STRINGTABLE LOADONCALL MOVEABLE DISCARDABLE
BEGIN
	32512, " on "
	32513, "'%s' not printed. %s."
	32514, "Out of memory"
	32515, "Out of disk space"
	32516, "Printing canceled."
	32517, "Printing aborted in Print Manager."
	32518, "Error encountered during print."
	32519, "Print Error"
END
