// ObjectWindows - (C) Copyright 1992 by Borland International

#include "windows.h"
#include "owlrc.h"

calc ICON calc.ico

CALC DIALOG DISCARDABLE LOADONCALL PURE MOVEABLE 48, 48, 82, 96
CLASS "Calc"
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_GROUP
CAPTION " Calc"
BEGIN
  CONTROL "0" 48, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 25, 77, 14, 12
  CONTROL "1" 49, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 63, 14, 12
  CONTROL "2" 50, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 25, 63, 14, 12
  CONTROL "3" 51, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 43, 63, 14, 12
  CONTROL "4" 52, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 49, 14, 12
  CONTROL "5" 53, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 25, 49, 14, 12
  CONTROL "6" 54, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 43, 49, 14, 12
  CONTROL "7" 55, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 35, 14, 12
  CONTROL "8" 56, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 25, 35, 14, 12
  CONTROL "9" 57, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 43, 35, 14, 12
  CONTROL "." 46, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 77, 14, 12
  CONTROL "%" 37, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 43, 77, 14, 12
  CONTROL "=" 61, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 61, 77, 14, 12
  CONTROL "+" 43, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 61, 63, 14, 12
  CONTROL "-" 45, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 61, 49, 14, 12
  CONTROL "*" 42, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 61, 35, 14, 12
  CONTROL "/" 47, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 61, 21, 14, 12
  CONTROL "+/-" 95, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 43, 21, 14, 12
  CONTROL "<-" 8, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 25, 21, 14, 12
  CONTROL "C" 67, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 21, 14, 12
  CONTROL "0" 400, "STATIC", WS_CHILD | WS_VISIBLE | SS_RIGHT, 8, 6, 66, 8
END


CALC ACCELERATORS
BEGIN
  VK_BACK, 8, VIRTKEY
  VK_RETURN, 13, VIRTKEY
  "C", 67, ASCII
  "c", 67, ASCII
  "_", 95, ASCII
  "0", 48, ASCII
  "1", 49, ASCII
  "2", 50, ASCII
  "3", 51, ASCII
  "4", 52, ASCII
  "5", 53, ASCII
  "6", 54, ASCII
  "7", 55, ASCII
  "8", 56, ASCII
  "9", 57, ASCII
  "%", 37, ASCII
  "/", 47, ASCII
  "*", 42, ASCII
  "-", 45, ASCII
  "+", 43, ASCII
  "=", 61, ASCII
  ".", 46, ASCII
END
